<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<div class="container text-center">
<h1> About</h1>
<h4> This website was created by Patrick Durojaiye.</h4>
<h4> The purpose of the website is to generate a random password. You first choose the length of characters you want for the password. Then you select if you want it to include Uppercase characters, Numbers or Special characters and click the generate password button</h4>
<a href="{% url 'home' %}" class="btn - btn-warning">Home</a>
</div>